<mat-card>
  <ng-container *ngIf="household | async as h; else loadingState">
    {{"Hey " + h.greeting + "!"}}
    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step>
        <ng-template matStepLabel>Who's able to make it?</ng-template>
        <app-step-attendance [(members)]="h.members"></app-step-attendance>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step *ngIf="h.allowedPlusOnes()">
        <ng-template matStepLabel>Anyone Bringing a Plus One?</ng-template>
        <app-step-plus-ones [(members)]="h.members"></app-step-plus-ones>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Tell us some stuff we don't know</ng-template>
        <app-step-preferences
          [(accommodation)]="h.accommodation"
          [(songs)]="h.songs"
          [(drinks)]="h.drinks"
          [(dietaryRestrictions)]="h.dietaryRestrictions"
        ></app-step-preferences>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done. Be Free.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="saveForm(h)">Save</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </ng-container>
  <ng-template #loadingState>
    <ng-container [ngSwitch]="state">
      <ng-container *ngSwitchCase=1>
        <mat-spinner></mat-spinner>
      </ng-container>
      <ng-container *ngSwitchCase=2>
        Error Loading Form
      </ng-container>
    </ng-container>
  </ng-template>
</mat-card>
