<mat-card [ngSwitch]="state">
  <ng-container *ngSwitchCase=0>
    <ng-container *ngIf="household">
      {{"Hey " + household.greeting + "!"}}
      <mat-vertical-stepper [linear]="false" #stepper>
        <mat-step>
          <form>
            <ng-template matStepLabel>Who's able to make it?</ng-template>
            <mat-list>
              <mat-list-item *ngFor="let member of household.members">
                <mat-checkbox [(ngModel)]="member.isComing" name="member.id">
                  {{member.first + ' ' + member.last}}
                </mat-checkbox>
              </mat-list-item>
            </mat-list>
          </form>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext="">Next</button>
        </mat-step>
        <mat-step *ngIf="household.allowedPlusOnes()">
          <form>
            <ng-template matStepLabel>Anyone Bringing a Plus One?</ng-template>
            <mat-list>
              <ng-container *ngFor="let member of household.members">
                <ng-container *ngIf="member.allowedPlusOne">
                  <mat-checkbox (change)="togglePlusOne($event, member)" [disabled]="!member.isComing">
                   {{member.first + ' ' + member.last}}
                  </mat-checkbox>
                  <ng-container *ngIf="!!member.plusOne">
                    <mat-form-field>
                      <input matInput placeholder="First" [(ngModel)]="member.plusOne.first" name="first">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Last" [(ngModel)]="member.plusOne.last" name="last">
                    </mat-form-field>
                  </ng-container>
                </ng-container>
              </ng-container>
            </mat-list>
          </form>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext="">Next</button>
          </div>
        </mat-step>
        <mat-step>
          <form>
            <ng-template matStepLabel>Tell us some stuff we don't know</ng-template>
            <p>
              We will be providing group camping nearby for anyone and everyone coming to party with us.
              It will probably be about 20 minutes away from the reception, and cost about $10 a person.
              Would you be interested in that?
            </p>
            <mat-radio-group class="radio-list" [(ngModel)]="household.accommodation" name="accommodation">
              <mat-radio-button class="radio-button" [value]="'camping'">
                Camping is my favourite, I'm a greasy bear
              </mat-radio-button>
              <mat-radio-button class="radio-button"  [value]="'hotel'">
                I have sophisticated taste, I'll grab a hotel
              </mat-radio-button>
              <mat-radio-button class="radio-button"  [value]="'home'">
                Stay near you people?! I'm headed home as soon as I grab the bouquet
              </mat-radio-button>
            </mat-radio-group>
            <br>
            <p>
              Both Taylor and Michael like to refer to themselves in the 3rd person (So you can't tell who wrote this form).
              They also have a great taste in music. Unfortunately, concessions must be made for people with less gifted ear holes.
              Any songs in particular you think would be perfect for the occasion?
            </p>
            <app-chip-list [(ngModel)]="household.songs" name="songs" [placeholder]="'Song Requests'"></app-chip-list>
            <br>
            <p>
              There will of course be a toonie bar serving liquid dancing shoes.
              We've picked out some liquor that appeals to us (NOTE: insert our choices somewhere here),
              But nobody wants the Bride and Groom to be the only ones with a drink in their hands.
              What's your favourite concoction? (If its popular among others, we might just include it)
            </p>
            <app-chip-list [(ngModel)]="household.drinks" name="drinks" [placeholder]="'Drink Requests'"></app-chip-list>
            <p>
              Lets be honest, we all know that the low buck liquor and the free food are some of the biggest draws to a well executed wedding.
              }
              Confident that we have the liquor part covered, we also wanna be sure we don't get any anaphylactic responses during the toasts.
              (it's very inconvenient, and those poor people probably stood in front of the mirror for hours preparing their speeches).
              This is your chance to stand up and say NO to peanuts, meat or any other ingredient that doesn't need to be there.
              We salute your dietary needs, and so do our caterers!
            </p>
              <mat-form-field>
                <textarea matInput placeholder="Dietary Restrictions" [(ngModel)]="household.dietaryRestrictions" name="dietaryRestrictions"></textarea>
              </mat-form-field>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done. Be Free.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="saveForm()">Save</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase=1>
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-container *ngSwitchCase=2>
    Error Loading Form
  </ng-container>
</mat-card>
