<mountainscape-page>
  <ms-title>Info</ms-title>
  <ms-content>
    <div class="rsvp-stats">
      <app-response-statistics></app-response-statistics>
    </div>
    <div class="timeline-header">
      <b>September 14th, 2019</b>
    </div>
    <div class="timeline day-of">
      <div class="timeline-item">
        <div class="timeline-icon">
          <img src="../../assets/marriage-rings-couple-with-a-heart.svg" width="30px" height="30px"/>
        </div>
        <div class="timeline-content">
          <h2 class="timeline-content-date">Ceremony<br>1:00 PM</h2>
          <mat-card class="timeline-content-details">
            Ceremony at St. Mary's Parish, Cochrane
          </mat-card>
        </div>
      </div>

      <div class="timeline-item" id="e-two">
        <div class="timeline-icon">
          <img src="../../assets/camera.svg" width="30px" height="30px"/>
        </div>
        <div class="timeline-content right">
          <h2 class="timeline-content-date">Intermission<br>2:00 PM</h2>
          <mat-card class="timeline-content-details">
            Head back to the campsite, explore Bragg Creek, play games at the reception venue, or do whatever you enjoy while we pose awkwardly for photos
          </mat-card>
        </div>
      </div>

      <div class="timeline-item" id="e-three">
        <div class="timeline-icon">
          <img src="../../assets/beer.svg" width="30px" height="30px"/>
        </div>
        <div class="timeline-content">
          <h2 class="timeline-content-date">Cocktail Hour<br>4:00 PM</h2>
          <mat-card class="timeline-content-details">
            Games, snacks and drinks at the Bragg Creek Community Center, Bragg Creek
          </mat-card>
        </div>
      </div>

      <div class="timeline-item" id="e-four">
        <div class="timeline-icon">
          <img src="../../assets/food.svg" width="30px" height="30px"/>
        </div>
        <div class="timeline-content right">
          <h2 class="timeline-content-date">Reception<br>4:30 PM</h2>
          <mat-card class="timeline-content-details">
            Lets get this party started! Grand entrance, dinner, toasts, and dancing
          </mat-card>
        </div>
      </div>

      <div class="timeline-item" id="e-five">
        <div class="timeline-icon">
          <img src="../../assets/tent-night.svg" width="30px" height="30px" />
        </div>
        <div class="timeline-content">
          <h2 class="timeline-content-date">Closing Time<br>12:00 AM</h2>
          <mat-card class="timeline-content-details">
            You don't have to go home, but you can't stay here.... we recommend the campground!
          </mat-card>
        </div>
      </div>

    </div>
    <div class="timeline-header">
      <b>September 15th, 2019</b>
    </div>
    <div class="timeline day-after">
      <div class="timeline-item" id="e-six">
        <div class="timeline-icon">
          <img src="../../assets/rest-area.svg" width="30px" height="30px"/>
        </div>
        <div class="timeline-content">
          <h2 class="timeline-content-date">Lunch with the Inlaws<br>12:00 PM</h2>
          <mat-card class="timeline-content-details">
            If you aren't sick of us already, we'd love to show our appreciation and nurse our headaches over lunch. Food and water will be provided at the River Cove campground.
          </mat-card>
        </div>
      </div>
    </div>
    <div class="more-info">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b> Get Directions </b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="directions-container">
            <h3>St. Mary's Parish</h3>
            <div class="location">
              <div class="address">
                <p>
                  <b>Address</b><br>
                  10 River Heights Dr<br>
                  Cochrane, AB T4C 0N8
                </p>
                <button mat-button (click)="getDirections('St+Marys+Parish', 'ChIJA0esjpA_cVMRzSU4jPY9TUE')">Get Directions</button>
              </div>
              <agm-map
                (click)="getDirections('St+Marys+Parish', 'ChIJA0esjpA_cVMRzSU4jPY9TUE')"
                class="map" [latitude]="51.1649302" [longitude]="-114.4693305"
                [zoom]="13"
                [gestureHandling]="'none'"
                [scaleControl]="false"
                [rotateControl]="false"
                [zoomControl]="false"
                [streetViewControl]="false"
              >
                <agm-marker [latitude]="51.1649302" [longitude]="-114.4693305"></agm-marker>
              </agm-map>
            </div>
            <mat-divider></mat-divider>
            <h3>Bragg Creek Community Center</h3>
            <div class="location">
              <div class="address">
                <p>
                  <b>Address</b><br>
                  23 White Ave<br>
                  Bragg Creek, AB T0L 0K0<br>
                </p>
                <button mat-button (click)="getDirections('Bragg+Creek+Community+Center', 'ChIJEQ8H97sacVMRJmQw56y_6nU')">Get Directions</button>
              </div>
              <agm-map
                (click)="getDirections('Bragg+Creek+Community+Center', 'ChIJEQ8H97sacVMRJmQw56y_6nU')"
                class="map"
                [latitude]="51.1716296" [longitude]="-114.7524017"
                [zoom]="13"
                [gestureHandling]="'none'"
                [scaleControl]="false"
                [rotateControl]="false"
                [zoomControl]="false"
                [streetViewControl]="false"
              >
                <agm-marker [latitude]="51.1716296" [longitude]="-114.7524017"></agm-marker>
              </agm-map>
            </div>
            <mat-divider></mat-divider>
            <h3>River Cove Campground</h3>
            <div class="location">
              <div class="address">
                <p>
                  <b>Address</b><br>
                  Kananaskis, AB T0L 0K0
                </p>
                <button mat-button (click)="getDirections('River+Cove+Campground', 'ChIJg_MfrCkDcVMRyO-m33ARlNo')">Get Directions</button>
              </div>
              <agm-map
                (click)="getDirections('River+Cove+Campground', 'ChIJA0esjpA_cVMRzSU4jPY9TUE')"
                class="map" [latitude]="50.896209" [longitude]="-114.696851"
                [zoom]="13"
                [gestureHandling]="'none'"
                [scaleControl]="false"
                [rotateControl]="false"
                [zoomControl]="false"
                [streetViewControl]="false"
              >
                <agm-marker [latitude]="50.896209" [longitude]="-114.696851"></agm-marker>
              </agm-map>
            </div>

          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b> Transportation Options</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h3>Campground Shuttle</h3>
          <p>
            For all those staying or parking at River Cove campground, we are providing a school bus shuttle to and from the reception
            <br>
            <br>
            <b>Shuttle To Reception: </b> September 14th, 4:30 pm
            <br>
            <b>Shuttle From Reception: </b> September 15th, 12:00 am
          </p>
          <mat-divider></mat-divider>
          <h3>Parking Rules</h3>
          <p>
            If you are driving yourself, be aware that church is held at the same venue in the morning.
            The community center has asked that we minimize the amount of cars in the parking lot overnight.
            So, if you plan on leaving your car overnight, there should be street parking available nearby!
          </p>
          <mat-divider></mat-divider>
          <h3>Taxi Service</h3>
          <p>
            If you'd rather go home on your own accord but will be too silly to drive we recommended calling some local taxi services.
            We did a bit of research ourselves, and below are a couple options:
          </p>
          <div class="taxi-buttons">
            <a mat-raised-button href="tel:403-932-0044">
              Taxi4U <mat-icon>phone</mat-icon>
            </a>
            <a mat-raised-button href="tel:403-851-8888">
              Cochrane Taxi <mat-icon>phone</mat-icon>
            </a>
            <a mat-raised-button href="tel:587-576-4433">
              Cochrane Cabs <mat-icon>phone</mat-icon>
            </a>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ms-content>
</mountainscape-page>



