ms-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rsvp-stats {
  width: 100%;
  max-width: 1000px;
}


.timeline .timeline-item::after, .timeline .timeline-item::before {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}

.timeline-header {
  font-family: "Lao MN";
  font-size: 20px;
}

.timeline {
  margin: 0 30px;
  position: relative;
  transition: all 0.25s ease-in;
  width: 100%;
}

.day-of {
  background: url("../../assets/wedding-date-trail.svg") no-repeat;
  height: 950px;
  background-position-x: center;

}

.day-after {
  background: url("../../assets/next-day-trail.svg") no-repeat;
  height: 350px;
  background-position-x: center;

}

#e-two {
  top: 170px;
}

#e-three {
  top: 385px;
}

#e-four {
  top: 555px;
}

#e-five {
  top: 740px;
}

#e-six {
  top: 130px;
}

.timeline::after {
  clear: both;
  content: '';
  display: table;
  width: 100%;
}

.timeline a {
  color: #fefefe;
  font-weight: bold;
  transition: all 0.25s ease-in;
}

.timeline a:hover {
  box-shadow: 0 1px 0px 0px #fefefe;
  transition: all 0.25s ease-in;
}

.timeline .timeline-item {
  position: absolute;
  width: 100%;
}

.timeline .timeline-item .timeline-icon {
  background: rgb(55, 62, 40);
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin-left: -23px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50px;
}

.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
  left: 10px;
  position: relative;
  top: 9px;
}

.timeline .timeline-item .timeline-icon svg {
  top: 14px;
}

.timeline .timeline-item .timeline-content {
  padding: 20px;
  text-align: right;
  transition: all 0.25s ease-in;
  width: 45%;
  background: transparent;
}

.timeline .timeline-item .timeline-content .timeline-content-details {
  font-family: "Lao MN";
  font-size: 16px;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
  font-family: "Lao MN";
  font-size: 16px;
  font-weight: bold;
  margin: 10px 20px 0 20px;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

.directions-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h3 {
  text-align: center;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.map-container {
  width: 100%;
  flex-grow: 2;
}

.address {
  padding: 0 40px 0 0;
}

.more-info {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
}

.more-info mat-expansion-panel {
  margin: 0 20px;
}

.map {
  width: 300px;
  height: 300px;
}

::ng-deep .agm-map-container-inner {
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.taxi-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.taxi-buttons a {
  margin: 20px;
}

@media screen and (max-width: 39.9375em) {
  .timeline-header {
    align-self: normal;
    margin-left: 30px;
  }

  .timeline {
    margin: 0 30px;
    padding: 0;
    width: 90%;
    background-position-x: -90px;
  }
  .timeline .timeline-item {
    margin-left: 60px;
    width: 85%;
  }
  .timeline::before {
    left: 0;
  }
  .timeline .timeline-item .timeline-content {
    float: right;
    text-align: left;
    width: 90%;
  }

  .timeline .timeline-item .timeline-content .timeline-content-details {
    font-size: 12px;
  }

  .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
    border-left: 0;
    border-right: 7px solid #fefefe;
    left: 10%;
    margin-left: -6px;
  }
  .timeline .timeline-item .timeline-icon {
    left: 0;
  }

  .address {
    padding: 0 20px 0 0;
  }

  .map {
    width: 100px;
    height: 100px;
  }
}
