
@font-face {
  font-family: NeoRetro;
  src: url("./../../assets/NEORETRO.woff");
}

@font-face {
  font-family: LucidaBrite;
  src: url("./../../assets/LBRITE.TTF");
}
.mountain {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: absolute;
  background-image: url("./../../assets/Mountain1.png");
  background-repeat: repeat-x;
  background-position-x: center;
}

.tree-one {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: absolute;
  background-repeat: repeat-x;
  background-position-x: center;
  background-image: url("./../../assets/Treeline1.png");
}
.tree-border {
  position:relative;
  top: 50px;
}
.tree-two {
  width: 100%;
  height: 300px;
  background-position-x: center;
  background-repeat: repeat-x;
  background-image: url("./../../assets/Treeline2.png");
}

.undergrowth {
  position: relative;
  top:0px;
  height: 300px;
  width: 100%;
  background-position-x: center;
  background-color: rgb(55, 62, 40);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name-text {
  color: rgb(242,243,246);
  font-family: "LucidaBrite";
  font-size: 50px;
}
.title-text {
  color: rgb(242,243,246);
  font-family: "NeoRetro";
  font-size: 150px;
}
.mountain-two {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: absolute;
  top:650px;
  background-image: url("./../../assets/Mountain2.png");
  background-repeat: repeat-x;
}
.main {
  position:absolute;
  top:900px;
  background-color: rgba(180,204,212);
  height: 1000px;
  width:100%;
}
.text {
}
.small-main {
  font-family: "Lao MN";
  font-size: 20px;
}
.large-main-main {
  font-family: "Lao MN";
  font-size: 30px;
}
.some-random-people {
  position: absolute;
  top:1500px;
  height: 600px;
  width: 900px;
  background-image: url("./../../assets/engaged.png");
}
.sky {
  background-color: rgb(141, 183, 201);
  width: 100%;
  height: 100%;
}

.airspace {
  width: 100%;
  height: 200px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgba(32, 28, 26, 1);
}
