ms-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timeline {
  position: relative;
  top: -110px;
  width: 100%;
  height: 1500px;
  background: url("./../../assets/trail.svg") no-repeat;
  background-position-x: center;
  margin-right: 50px;
  right: 90px;
}

.timeline-event {
  margin: 0 auto;
  width: 100%;
  position: relative;
  max-width: 310px;
  left: 70px;
}

.event-description {
  font-family: "Lao MN";
  font-size: 20px;
}

.event-date {
  font-family: "Lao MN";
  font-size: 27px;
}

#e-one {
  top: 115px;
}

#e-two {
  top: 180px;
}

#e-three {
  top: 210px;
}

#e-four {
  top: 305px;
}

#e-five {
  top: 535px;
}

#e-six {
  top: 590px;
  z-index: 20;
}

.granola-bar {
  color: #424245
}

.backdrop-filler {
  width: 100%;
  height: 150px;
}

.footer {
  width: 100%;
  position: absolute;
  top: 850px;
}

.engagement-container {
  width: 100%;
  height: auto;
}

.engaged {
  position: relative;
  top: 4px;
  width: 100%;
}

.footer-bar {
  font-family: LucidaBrite;
  font-size: 20px;
  color: rgb(242, 243, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  background-color: rgba(32, 28, 26, 1);
  padding: 20px 0;
}

.footer-bar p {
  margin: 20px;
  text-align: center;
}

.footer-bar a {
  font-family: LucidaBrite;
  font-size: 25px;
}

@media screen and (max-width: 1050px) {
  .timeline {
    height: 1300px;
  }
  .footer {
    top: 750px;
  }
  .backdrop-filler {
    height: 100px;
  }
  .timeline-event {
    left: 80px;
  }
  #e-one {
    top: 90px;
  }

  #e-two {
    top: 130px;
  }

  #e-three {
    top: 150px;
  }

  #e-four {
    top: 220px;
  }

  #e-five {
    top: 400px;
  }

  #e-six {
    top: 430px;
  }
}

@media screen and (max-width: 750px) {
  .timeline {
    height: 1100px;
    top: -105px;
    right: 0px;
  }
  .footer {
    top: 750px;
  }
  .backdrop-filler {
    height: 50px;
  }
  .timeline-event {
    left: 90px;
    max-width: 300px;
  }
  .event-description{
    font-size: 17px;
  }
  .event-date {
    font-size: 22px;
  }
  #e-one {
    top: 75px;
  }

  #e-two {
    top: 100px;
  }

  #e-three {
    top: 120px;
  }

  #e-four {
    top: 180px;
  }

  #e-five {
    top: 350px;
  }

  #e-six {
    top: 400px;
  }
}

@media screen and (max-width: 450px) {
  .timeline {
    height: 800px;
    top: -105px;

  }
  .footer {
    top: 550px;
  }
  .backdrop-filler {
    height: 0px;
  }
  .timeline-event {
    left: 60px;
    max-width: 200px;
  }
  .event-description{
    font-size: 15px;
  }
  .event-date {
    font-size: 19px;
  }
  #e-one {
    top: 25px;
  }

  #e-two {
    top: 45px;
  }

  #e-three {
    top: 70px;
  }

  #e-four {
    top: 80px;
  }

  #e-five {
    top: 190px;
  }

  #e-six {
    top: 220px;
  }
}
