<div class="sky" #container>

  <div class="airspace"></div>
  <div class="mountain" dataDepth=2 #layer></div>
  <div class="tree-one" dataDepth=6 #layer></div>
  <div class="tree-border" dataDepth=15 #layer>
    <div class="tree-two"></div>
    <div class="undergrowth" >
      <div class="name-text">Taylor and Michael's</div>
      <div class="title-text">TRAIL GUIDE</div>
    </div>
  </div>
  <div class="mountain-two" dataDepth="20" #layer></div>
  <div class="main" dataDepth="20" #layer>
    <div class="text">
      <img src="./../../assets/method-draw-image.svg">
    </div>
  </div>
  <div class="some-random-people" dataDepth="25" #layer></div>
</div>

