.container {
  margin: 0 auto;
  max-width: 900px;
}

.header {
  min-height:1537px;
  height:auto;
  overflow: hidden;
  position: relative;
}

.mobile-header {
  display: none;
  min-height: 1537px;
  height: auto;
  background-image: url("./../../assets/Mountain1.png");
  background-position:bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer {
  background-position:bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: auto;
  position: fixed;
  z-index: -1;
  height: 1000px;
}

.layer-bg {
  background-image: url("./../../assets/Treeline1.png");
}

.layer-one {
  background-image: url("./../../assets/Mountain1.png");
}

.layer-two {
  background-image: url("./../../assets/Mountain2.png");
}

.layer-three {
  background-image: url("./../../assets/Treeline1.png");
}

@media (max-width: 768px){
  .header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
}
