<div class="sky" #container>

  <div class="airspace"></div>
  <div class="mountain" dataDepth=2 #layer></div>
  <div class="tree-one" dataDepth=6 #layer></div>
  <div class="tree-border" dataDepth=15 #layer>
    <div class="tree-two"></div>
    <div class="undergrowth" >
      <div class="name-text">Taylor and Michael's</div>
      <div class="title-text">TRAIL GUIDE</div>
    </div>
  </div>
  <div class="content" dataDepth=20 #layer>
    <div class="mountain-two"></div>
    <div class="content-background">

    </div>
    <div class="footer">
    </div>
  </div>
</div>

