.sky {
  background-color: rgb(141, 183, 201);
  width: 100%;
  height: stretch; /* css Prefixer should add -moz-, -webkit- etc prefixes*/
}

.mountain {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("./../../assets/Mountain1.png");
  background-repeat: repeat-x;
  background-position-x: center;
}

.tree-one {
  width: 100%;
  height: 300px;
  position: relative;
  top: -150px;
  background-repeat: repeat-x;
  background-position-x: center;
  background-image: url("./../../assets/Treeline1.png");
}
.tree-border {
  width: 100%;
  position:relative;
  top: -550px;
}
.tree-two {
  width: 100%;
  height: 300px;
  background-position-x: center;
  background-repeat: repeat-x;
  background-image: url("./../../assets/Treeline2.png");
}

.undergrowth {
  width: 100%;
  padding-bottom: 100px;
  position: relative;
  top: -1px;
  background-color: rgb(55, 62, 40);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle-text {
  text-align: center;
  color: rgb(242,243,246);
  font-family: "LucidaBrite";
  font-size: 50px;
  letter-spacing: 4px;
}
.title-text {
  text-align: center;
  color: rgb(242,243,246);
  font-family: "NeoRetro";
  font-size: 150px;
}

.title-group {
  position: relative;
  top: -70px;
}

.content-background {
  background-color: rgb(180,204,212);
  position: relative;
  top: -1px;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mountain-two {
  width: 100%;
  height: 300px;
  background-position-x: center;
  background-image: url("./../../assets/mountain-silhouette-shadow.png");
  background-repeat: repeat-x;
}
.content {
  -webkit-transform: translate3D(0,0,0);
  position: relative;
  top: -800px;
  min-height: 400px;
  width: 100%;
}

.airspace {
  width: 100%;
  height: 20px;
}

@media screen and (max-width: 400px) {
  .subtitle-text {
    font-size: 20px;
  }
  .title-text {
    font-size: 60px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 401px) {
  .subtitle-text {
    font-size: 40px;
  }
  .title-text {
    font-size: 100px;
  }
}

@media screen and (max-width: 700px) and (min-width: 401px) {
  .title-text {
    font-size: 80px;
  }
}

