<div class="sky" #container>
  <div class="airspace"></div>
  <div class="mountain" dataDepth=2 #layer></div>
  <div class="tree-one" dataDepth=6 #layer></div>
  <div class="tree-border" dataDepth=15 #layer>
    <div class="tree-two"></div>
    <div class="undergrowth">
      <ng-container *ngIf="reverseTitleOrder; else default">
        <div class="subtitle-text">
          <ng-content select="mountainscape-subtitle"></ng-content>
        </div>
        <div class="title-text">
          <ng-content select="mountainscape-title"></ng-content>
        </div>
      </ng-container>
      <ng-template #default>
        <div class="title-text">
          <ng-content select="mountainscape-title"></ng-content>
        </div>
        <div class="subtitle-text">
          <ng-content select="mountainscape-subtitle"></ng-content>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="content" dataDepth=20 #layer>
    <div class="mountain-two"></div>
    <div class="content-background">
      <ng-content select="mountainscape-content"></ng-content>
    </div>
    <div class="footer">
    </div>
  </div>
</div>
