<div class="sky" #container>
  <div class="mountain" dataDepth=2 #layer></div>
  <div class="tree-one" dataDepth=3 #layer></div>
  <div class="tree-border" dataDepth=4 #layer>
    <div class="tree-two"></div>
    <div class="undergrowth">
      <div class="title-group">
        <div class="subtitle-text">
          <ng-content select="ms-pretitle"></ng-content>
        </div>
        <div class="title-text">
          <ng-content select="ms-title"></ng-content>
        </div>
        <div class="subtitle-text">
          <ng-content select="ms-subtitle"></ng-content>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="mountain-two"></div>
    <div class="content-background">
      <ng-content select="ms-content"></ng-content>
    </div>
  </div>
</div>
