.radio-list {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  padding: 5px 0;
}
::ng-deep .radio-button .mat-radio-label {
  white-space: unset;
}


.item-padding {
  padding-bottom: 20px;
}

.full-width {
  width: 100%;
  max-width: 700px;
}
