<div class="item-padding">
  <h3>Lodging</h3>
  <b>
    We will be providing group camping nearby for anyone and everyone coming to party with us.
    It will be about 15 minutes away from the reception (more details on that later).
    Would you be interested in that?
  </b>
</div>
<div class="item-padding">
  <mat-radio-group class="radio-list" required [(ngModel)]="accommodation" (change)="accommodationChange.emit(accommodation)" name="accommodation">
    <mat-radio-button class="radio-button" [value]="'camping'">
      Camping is my favourite, I'm a greasy bear
    </mat-radio-button>
    <mat-radio-button class="radio-button"  [value]="'hotel'">
      I'll grab a hotel (I have sophisticated taste)
    </mat-radio-button>
    <mat-radio-button class="radio-button"  [value]="'home'">
      I'm headed home as soon as I grab the bouquet
    </mat-radio-button>
  </mat-radio-group>
</div>
<mat-divider></mat-divider>
<div class="item-padding"></div>
<div class="item-padding">
  <h3>Song Suggestions</h3>
  <b>
    We enjoy a wide variety of music, and will be suggesting a few of our favourites to the DJ but realize that not everyone has dancing dangles needed for a boot scootin' boogie.
    Any songs in particular you think would be perfect for the occasion?
  </b>
</div>
<div class="item-padding">
  <app-chip-list [(ngModel)]="songs" name="songs" [placeholder]="'Song Requests'"></app-chip-list>
</div>
<mat-divider></mat-divider>
<div class="item-padding"></div>
<div class="item-padding">
  <h3>Dietary Restrictions</h3>
  <b>
    This is your chance to stand up and say NO to peanuts, meat or any other ingredient that doesn't need to be there.
    We salute your dietary needs, and so do our caterers!
  </b>
</div>
<mat-form-field class="full-width">
  <textarea matInput
            [(ngModel)]="dietaryRestrictions"
            (change)="dietaryRestrictionsChange.emit(dietaryRestrictions)"
            name="dietaryRestrictions"
            placeholder="Dietary Restrictions"

  ></textarea>
</mat-form-field>
