<mat-form-field class="full-width">
  <input matInput type="text" placeholder="Search for Someone" (keyup)=search() [(ngModel)]="searchTerm">
  <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="flex-container">
  <ng-container *ngIf="dataSource | async as members; else loading">
    <table mat-table [dataSource]="members" class="full-width">
      <ng-container matColumnDef="first">
        <th mat-header-cell *matHeaderCellDef> First </th>
        <td mat-cell *matCellDef="let member"> {{member.first}} </td>
      </ng-container>
      <ng-container matColumnDef="last">
        <th mat-header-cell *matHeaderCellDef> Last </th>
        <td mat-cell *matCellDef="let member"> {{member.last}} </td>
      </ng-container>
      <ng-container matColumnDef="isComing">
        <th mat-header-cell *matHeaderCellDef> Coming </th>
        <td mat-cell *matCellDef="let member">
          <mat-icon *ngIf="member.isComing">
            thumb_up_alt
          </mat-icon>
          <mat-icon *ngIf="member.isComing === false">
            thumb_down_alt
          </mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let member">
          <button mat-button
                  [matMenuTriggerFor]="menu"
                  [disabled]="!member.email"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <p mat-menu-item> {{member.email}}</p>
            <a mat-menu-item
              href="{{formatRsvpLink(member)}}">
              <mat-icon>link</mat-icon> RSVP Link
            </a>
            <button mat-menu-item
              (click)="downloadInviteHtml(member)">
              <mat-icon>get_app</mat-icon> Invite
            </button>
            <button mat-menu-item
                    (click)="downloadReminderHtml(member)">
              <mat-icon>get_app</mat-icon> Reminder
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let member; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
  <ng-template #loading>
    <mat-spinner class="table-loading"></mat-spinner>
  </ng-template>
</div>
