<mat-form-field class="full-width">
  <input matInput type="text" placeholder="Search for Someone" (keyup)=search() [(ngModel)]="searchTerm">
  <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="flex-container">
  <ng-container *ngIf="dataSource | async as members; else loading">
    <table mat-table [dataSource]="members" class="full-width">
      <ng-container matColumnDef="first">
        <th mat-header-cell *matHeaderCellDef> First </th>
        <td mat-cell *matCellDef="let member"> {{member.first}} </td>
      </ng-container>
      <ng-container matColumnDef="last">
        <th mat-header-cell *matHeaderCellDef> Last </th>
        <td mat-cell *matCellDef="let member"> {{member.last}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let member"> {{member.email}} </td>
      </ng-container>
      <ng-container matColumnDef="isComing">
        <th mat-header-cell *matHeaderCellDef> Coming </th>
        <td mat-cell *matCellDef="let member"> {{member.isComing}} </td>
      </ng-container>
      <ng-container matColumnDef="rsvp-link">
        <th mat-header-cell *matHeaderCellDef> RSVP Link </th>
        <td mat-cell *matCellDef="let member">
          <a mat-icon-button
            *ngIf="formatRsvpLink(member) != ''"
             href="{{formatRsvpLink(member)}}">
            <mat-icon>link</mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="invite">
        <th mat-header-cell *matHeaderCellDef> Invite </th>
        <td mat-cell *matCellDef="let member">
          <button mat-icon-button
                  *ngIf="member.email != ''"
                  (click)="downloadHtml(member)">
            <mat-icon>code</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let member; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
  <ng-template #loading>
    <mat-spinner class="table-loading"></mat-spinner>
  </ng-template>
</div>
