<div *ngIf="statistics | async as stats; else loadingState">
  <ngx-charts-bar-horizontal
    [results]=stats
    [scheme]=colorScheme
    [yAxis]=true
    [xScaleMax]=100
    [showDataLabel]=true
  >
  </ngx-charts-bar-horizontal>
  <ng-template #loadingState>
    <ng-container [ngSwitch]="state">
      <ng-container *ngSwitchCase=1>
        <mat-spinner></mat-spinner>
      </ng-container>
      <ng-container *ngSwitchCase=2>
        Error Loading Response Statistics
      </ng-container>
    </ng-container>
  </ng-template>
</div>
