<div *ngIf="statistics | async as stats; else loadingState">
  <ngx-charts-linear-gauge
    [value]="round(stats.numResponses/stats.numHouseholds*100)"
    [scheme]=colorScheme
    [min]="0"
    [units]="'Responses'"
    [valueFormatting]="formatAsPercentage"
  >
  </ngx-charts-linear-gauge>
  <ng-template #loadingState>
    <ng-container [ngSwitch]="state">
      <ng-container *ngSwitchCase=1>
        <mat-spinner></mat-spinner>
      </ng-container>
      <ng-container *ngSwitchCase=2>
        Error Loading Response Statistics
      </ng-container>
    </ng-container>
  </ng-template>
</div>
